
.container {
  margin-top: 50px;
}
h2 {
  text-align: center;
  color: rgb(9, 105, 4);
}

form {
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 100, 0, 0.1);
}

fieldset {
  border: 2px solid rgb(9, 105, 4);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: rgb(9, 105, 4);
  padding: 0 10px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 10px;
}

input[type="submit"] {
  background-color: rgb(9, 105, 4);
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: yellow;
  background-color: rgb(9, 105, 4);
}

a {
  margin-top: 20px;
  text-align: center;
  color: rgb(9, 105, 4);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
